@import "../../App.scss";
.navbar {
  height: 80px;
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .profilePic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    @include mobile {
      display: none;
    }
  }
  .logout {
    cursor: pointer;
  }
  .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 9px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 25px;
    @include mobile {
      display: none;
    }
  }
  .center {
    font-size: 30px;
    letter-spacing: 2px;
    @include mobile {
      display: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .icon {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #777;
    cursor: pointer;
    @include mobile {
      display: none;
    }
  }
}
.drawer {
  width: 280px;
  max-width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -280px;
  z-index: 100;
  background-color: #fff;
  transition: right 0.5s ease-out;
  overflow: auto;

  &.open {
    transition: 0.2s ease-in;
    right: 0;
  }
}
.toggle-button {
  .carticon {
    position: relative;
    display: flex;
    cursor: pointer;
    .span {
      font-size: 12px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: blue;
      color: white;
      position: absolute;
      right: -10px;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include mobile {
    display: none;
  }
}
.top {
  position: relative;
  z-index: auto;
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7a7a7;
    width: 100%;
    height: 100%;
    position: absolute;

    .input {
      width: 70%;
      padding: 10px;
      border: none;
      border-radius: 5px 5 5 5px;
      background-color: #777;

      margin-bottom: -34px;
    }
  }
  @include mobile {
    display: none;
  }
}
